
body{
    border: 5px groove #0000003c;
    margin: 20px;
    padding: 30px ;
}

/* CSS[attribute] Selector */
.attr1 a[target]{
    border: 2px inset #555 ;
    padding: 10px;
    margin: 20px;
    background-color: rgb(19, 50, 146);
    text-decoration: none;
    color: white;
}
.attr1 img[src]{
    margin: 20px;
    border: 2px outset #555a;
}

/* CSS[attribute = "value"] Selector */
.attr2 a[target = "_blank"]{
    border: 2px inset #555 ;
    padding: 10px;
    margin: 20px;
    background-color: rgb(22, 139, 61);
    text-decoration: none;
    color: white;
}
.attr2 a[target = "_parent"]{
    border: 2px inset #555 ;
    padding: 10px;
    margin: 20px;
    background-color: rgb(192, 129, 41);
    text-decoration: none;
    color: white;
}
.attr2 a[target = "_self"]{
    border: 2px inset #555 ;
    padding: 10px;
    margin: 20px;
    background-color: rgb(136, 39, 12);
    text-decoration: none;
    color: white;
}

/* CSS[attribute ~= "value"] Selector */
.attr3 img[title ~= "city"]{
    border: 5px inset #333;
    margin: 20px;
}
.attr3 img[title ~= "forest"]{
    border: 5px outset #d3d3d3d8;
    margin: 20px;
}

/* CSS[attribute |= "value"] Selector */
.attr4 [class |= "top"]{
    border: 2px inset #5555;
    padding: 10px;
    margin: 10px;
    background-color: rgb(217, 250, 166);
}
.attr4 [class |= "perfect"]{
    border: 2px inset #5555;
    padding: 10px;
    margin: 10px;
    background-color: rgb(166, 209, 250);
}

/* CSS[attribute ^= "value"] Selector */
.attr5 [class ^= "top"]{
    border: 2px inset #5555;
    padding: 10px;
    margin: 10px;
    font-family: fantasy;
    background-color: rgb(24, 46, 144);
    color: white;
}

/* CSS[attribute $= "value"] Selector */
.attr6 [class $= "text"]{
    border: 2px inset #5555;
    padding: 10px;
    margin: 10px;
    font-family: fantasy;
    background-color: rgb(208, 154, 73);
    color: white;
}
.attr6 [class $= "content"]{
    border: 2px inset #5555;
    padding: 10px;
    margin: 10px;
    font-family: copperplate;
    background-color: rgb(132, 208, 73);
    color: rgb(0, 0, 0);
}

/* CSS[attribute *= "value"] Selector */
.attr7 [class *= "op"]{
    border: 2px inset #5555;
    padding: 10px;
    margin: 10px;
    font-family: copperplate;
    background-color: rgb(221, 54, 54);
    color: rgb(0, 0, 0);
}
.attr7 [class *= "fi"]{
    border: 2px inset #5555;
    padding: 10px;
    margin: 10px;
    font-family: cursive;
    background-color: rgb(138, 73, 208);
    color: rgb(255, 255, 255);
}

/* Styling Form */
input[type="text"] {
    width: 150px;
    display: block;
    margin: 10px;
    background-color: rgb(106, 255, 0);
}
input[type="button"] {
    width: 120px;
    margin-left: 35px;
    display: block;
}