body {
    border: 5px groove black;
    margin: 30px;
    padding: 30px;
    background: url(/images/backtree.jpg);
    background-size: 300px;
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-position: right top;
    
}
.first {
    border: 4px ridge black;
    padding: 30px;
    margin: 40px;
    background: url(/images/ShadedBgrd.png);
    background-size: 190px;
    background-repeat: repeat-x;
}
.second {
    border: 4px ridge black;
    padding: 30px;
    margin: 40px;
    background: url(/images/ShadedBgrd.png);
    background-size: 250px;
    background-repeat: repeat-y ;
    background-attachment: fixed;
}
.third {
    border: 4px ridge black;
    padding: 30px;
    margin: 40px;
    background: url(/images/ShadedBgrd.png);
    background-size: 220px;
    background-repeat: no-repeat ;
}
.forth {
    border: 4px ridge black;
    padding: 30px;
    margin: 40px;
    background: url(/images/Pinktree.jpeg);
    background-size: 450px;
    background-repeat: no-repeat ;
    background-position: right center;
}
.fifth {
    border: 4px ridge black;
    padding: 30px;
    margin: 40px;
    background: #ffffff url(/images/backtree.jpg) no-repeat right bottom;
    background-size: 200px;
}