
body{
    background-color: rgba(148, 184, 255, 0.452);
    border: 5px groove black;
    padding: 20px;
    margin: 20px;
}
section {
    font-size: larger;
}
.first {
    background-color: green;
    opacity: 0.1;
}
.second {
    background-color: green;
    opacity: 0.3;
}
.Third {
    background-color: green;
    opacity: 0.6;
}
.forth {
    background-color: green;
    opacity: 1.0;
}
.a {
    background-color: rgba(0, 128, 0, 0.1);
}
.b {
    background-color: rgba(0, 128, 0, 0.3);
}
.c {
    background-color: rgba(0, 128, 0, 0.6);
}
.d {
    background-color: rgba(0, 128, 0, 1.0);
}