body{
    border: 5px inset rgb(59, 46, 46);
    margin: 30px;
    padding: 30px;
}
p.Dotted {border-style: dotted; padding: 10px; border-width: 5px;}
p.Dashed {border-style: dashed; padding: 10px; border-width: 5px;}
p.Solid {border-style: solid; padding: 10px; border-width: 5px;}
p.Double {border-style: double; padding: 10px; border-width: 5px;}
p.Groove {border-style: groove; padding: 10px; border-width: 5px;}
p.Rigde {border-style: ridge; padding: 10px; border-width: 5px;}
p.Inset {border-style: inset; padding: 10px; border-width: 5px;}
p.Outset {border-style: outset; padding: 10px; border-width: 5px;}
p.None {border-style: none; padding: 10px; border-width: 5px;}
p.Hidden {border-style: hidden; padding: 10px; border-width: 5px;}

p.one{
    border-style: solid;
    border-width: 5px;
    padding: 10px;
}
p.two{
    border-style: solid;
    border-width: 5px 20px;
    padding: 10px;
}
p.three{
    border-style: solid;
    border-width: 5px 15px 25px;
    padding: 10px;
}
p.four{
    border-style: solid;
    border-width: 5px 15px 25px 35px;
    padding: 10px;
}

p.color1{
    border-style: solid;
    border-color: red;
    padding: 10px;
}
p.color2{
    border-style: solid;
    border-color: green;
    padding: 10px;
}
p.color3{
    border-style: solid;
    border-color: blue;
    padding: 10px;
}
p.color4{
    border-style: solid;
    border-color: lightcoral darkblue lightgreen darkviolet;
    padding: 10px;
}

p.HEX1 {
    border-style: solid;
    border-color: #a8a8f6;
    padding: 10px;
}
p.HEX2 {
    border-style: solid;
    border-color: #f78a41;
    padding: 10px;
}
p.HEX3 {
    border-style: solid;
    border-color: #578f3a;
    padding: 10px;
}
p.HEX4 {
    border-style: solid;
    border-color: #b98686;
    padding: 10px;
}

p.RGB1 {
    border-style: solid;
    border-color: rgb(143, 61, 61);
    padding: 10px;
}
p.RGB2 {
    border-style: solid;
    border-color: #4536b9;
    padding: 10px;
}
p.RGB3 {
    border-style: solid;
    border-color: #cf5c9d;
    padding: 10px;
}
p.RGB4 {
    border-style: solid;
    border-color: #a34400;
    padding: 10px;
}

p.HSL1 {
    border-style: solid;
    border-color: #a5da86;
    padding: 10px;
}
p.HSL2 {
    border-style: solid;
    border-color: hsl(24, 26%, 56%);
    padding: 10px;
}
p.HSL3 {
    border-style: solid;
    border-color: #b768c5;
    padding: 10px;
}
p.HSL4 {
    border-style: solid;
    border-color: #2d53b6;
    padding: 10px;
}

p.side1 {
    border-style: solid;
    border-color: #000000;
    padding: 10px;
}
p.side2 {
    border-style: dashed solid;
    border-color: #000000;
    padding: 10px;
}
p.side3 {
    border-style: double dotted groove;
    border-color: #000000;
    padding: 10px;
}
p.side4 {
    border-style: dotted double dashed inset;
    border-color: #000000;
    padding: 10px;
}

p.round1 {
    border: 2px solid black;
    border-radius: 0px;
    padding: 10px;
}
p.round2 {
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
}
p.round3 {
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
}
p.round4 {
    border: 2px solid blue;
    border-radius: 15px;
    padding: 10px;
}