
body{
    border: 5px outset #00000080;
    margin: 20px;
    padding: 30px;
}

/* for block, inline-block and block elements */
.div1{
    margin: 5px;
    padding: 20px;
    border: 2px inset darkblue;
}
span.a{
    display: inline;
    width: 100px;
    height: 50px;
    padding: 5px;
    border: 1px solid black;
    background-color: #063a76;
    color: white;
}
span.b{
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 5px;
    border: 1px solid black;
    background-color: #063a76;
    color: white;
}
span.c{
    display: block;
    width: 100px;
    height: 50px;
    padding: 5px;
    border: 1px solid black;
    background-color: #063a76;
    color: white;
}

/* for horizontal navigation bar */
.div{
    margin: 5px;
    padding: 20px;
}
.nav{
    background-color: rgb(23, 82, 118);
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: white;
}
.nav li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    margin: 00px;
}
.nav li:hover{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    margin: 0px;
    background-color: #082858;
}