
body{
    border: 5px ridge black;
    margin: 20px;
    padding: 30px;
}
.out1{
    background-color: rgb(209, 230, 255);
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    outline: 5px rgb(255, 0, 0);
    outline-style: inset;
}
.out2{
    background-color: rgb(209, 230, 255);
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    outline: rgb(72, 255, 0);
    outline-style: inset;
    outline-width: 10px
}
.out3{
    background-color: rgb(209, 230, 255);
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    outline: rgb(255, 94, 0);
    outline-style: ridge;
    outline-width: 10px
}
.out4{
    background-color: rgb(209, 230, 255);
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    outline: rgb(166, 0, 255);
    outline-style: dashed;
    outline-width: 10px
}
.out5{
    background-color: rgb(209, 230, 255);
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    outline: 10px rgb(255, 186, 186) groove;
}
.out6{
    background-color: rgb(209, 230, 255);
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    outline: 10px rgb(184, 162, 255) outset;
    outline-offset: 5px;
}