body {
    border: 5px outset rgb(43, 34, 34);
    margin: 20px;
    padding: 30px;
}

.hnw1{
    border: 2px solid black;
    background-color: rgb(213, 170, 255);
    padding: 20px;
    height: 50px;
    width: 1500px;
}
.hnw2{
    border: 2px solid black;
    background-color: rgb(127, 255, 107);
    padding: 20px;
    height: 100px;
    width: 700px;
}

.mw1{
    border: 2px solid black;
    background-color: rgb(213, 171, 255);
    padding: 20px;
    height: 50px;
    max-width: 1200px;
}
.mw2{
    border: 2px solid black;
    background-color: rgb(127, 255, 107);
    padding: 20px;
    height: 100px;
    max-width: 800px;
}
.mw3{
    border: 2px solid black;
    background-color: rgb(255, 111, 111);
    padding: 20px;
    height: 80px;
    max-width: 1000px;
}
