body{
    border: 5px outset #afaeae80;
    margin: 20px;
    padding: 30px;
}
img{
    position: absolute;
    z-index: -1;
}
.over{
    padding: 20px;
    margin-left: 20px;
    font-size: larger;
}

.container1{
    position: relative;
}
.box1{
    position: relative;
    padding: 20px;
    margin: 30px;
    margin-bottom: 200px;
    font-size: larger;
    z-index: 1;
    border: 2px solid black;
    background-color: rgb(255, 237, 197);
    height: 100px;
}
.box2{
    position: absolute;
    padding: 20px;
    margin: 30px;
    font-size: larger;
    z-index: 3;
    border: 2px solid black;
    background-color: rgb(185, 218, 255);
    height: 150px;
    width: 700px;
    top: 50px;
    left: 500px;
}
.box3{
    position: absolute;
    padding: 20px;
    margin: 30px;
    font-size: larger;
    z-index: 2;
    border: 2px solid black;
    background-color: rgb(205, 255, 185);
    height: 120px;
    width: 400px;
    top: 30px;
    left: 300px;
}
.box4{
    position: absolute;
    padding: 20px;
    padding-top: 20px;
    margin: 30px;
    font-size: larger;
    z-index: -1;
    border: 2px solid black;
    background-color: rgb(255, 208, 208);
    height: 170px;
    width: 800px;
    top: 80px;
    left: 150px;
}

.container2{
    position: relative;
}
.box5{
    position: relative;
    padding: 20px;
    margin: 30px;
    margin-bottom: 200px;
    font-size: larger;
    border: 2px solid black;
    background-color: rgb(255, 237, 197);
    height: 100px;
}
.box6{
    position: absolute;
    padding: 20px;
    margin: 30px;
    font-size: larger;
    border: 2px solid black;
    background-color: rgb(185, 218, 255);
    height: 150px;
    width: 700px;
    top: 50px;
    left: 500px;
}
.box7{
    position: absolute;
    padding: 20px;
    margin: 30px;
    font-size: larger;
    border: 2px solid black;
    background-color: rgb(205, 255, 185);
    height: 120px;
    width: 400px;
    top: 30px;
    left: 300px;
}
.box8{
    position: absolute;
    padding: 20px;
    padding-top: 20px;
    margin: 30px;
    font-size: larger;
    border: 2px solid black;
    background-color: rgb(255, 208, 208);
    height: 170px;
    width: 800px;
    top: 80px;
    left: 150px;
}