body {
    border: 5px ridge rgb(136, 62, 62);
    margin: 20px;
    padding: 30px;
}

.text1{
    color: blue;
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
}
.text2{
    color: purple;
    background-color: lightskyblue;
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
}

.allin1{
    color: rgb(0, 80, 200);
    background-color: rgb(255, 215, 188);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
}
.allin2{
    color: rgb(0, 80, 200);
    background-color: rgb(255, 215, 188);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    text-align: left;
}
.allin3{
    color: rgb(0, 80, 200);
    background-color: rgb(255, 215, 188);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.allin4{
    color: rgb(0, 80, 200);
    background-color: rgb(255, 215, 188);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    text-align: right;
}
.allin5{
    color: rgb(0, 80, 200);
    background-color: rgb(255, 215, 188);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    width: 1500px;
    height: 50px;
    text-align: justify;
}

.dir1{
    color: brown;
    background-color: rgb(184, 221, 255);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    direction: ltr;
    unicode-bidi: bidi-override;
}
.dir2{
    color: brown;
    background-color: rgb(184, 221, 255);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    direction: rtl;
    unicode-bidi: bidi-override;
}

.vdir1{
    color: rgb(0, 53, 137);
    background-color: rgb(184, 255, 192);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
}
.vdir2{
    color: rgb(0, 53, 137);
    background-color: rgb(184, 255, 192);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
}
.vdir3{
    color: rgb(0, 53, 137);
    background-color: rgb(184, 255, 192);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
}
.vdir4{
    color: rgb(0, 53, 137);
    background-color: rgb(184, 255, 192);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
}
.vdir5{
    color: rgb(0, 53, 137);
    background-color: rgb(184, 255, 192);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
}

.a{
    vertical-align: middle;
}
.b{
    vertical-align: text-top;
}
.c{
    vertical-align: text-bottom;
}
.d{
    vertical-align: sub;
}
.e{
    vertical-align: super;
}

.deco1{
    color: rgb(14, 122, 0);
    background-color: rgb(212, 212, 212);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    text-decoration-line: overline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
}
.deco2{
    color: rgb(14, 122, 0);
    background-color: rgb(212, 212, 212);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    text-decoration-line: line-through;
    text-decoration-color: blue;
    text-decoration-style: double;
    text-decoration-thickness: 2px;
}
.deco3{
    color: rgb(14, 122, 0);
    background-color: rgb(212, 212, 212);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    text-decoration-line: underline;
    text-decoration-color: yellow;
    text-decoration-style: dashed;
    text-decoration-thickness: 20%;
}
.deco4{
    color: rgb(14, 122, 0);
    background-color: rgb(212, 212, 212);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    text-decoration-line: underline overline;
    text-decoration-color: purple;
    text-decoration-style: wavy;
    text-decoration-thickness: 3px;
}

.trans1{
    color: rgb(169, 255, 183);
    background-color:rgb(84, 123, 155);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    text-transform: uppercase;
}
.trans2{
    color: rgb(169, 255, 183);
    background-color:rgb(84, 123, 155);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    text-transform: lowercase;
}
.trans3{
    color: rgb(169, 255, 183);
    background-color:rgb(84, 123, 155);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    text-transform: capitalize;
}

.indent{
    color: rgb(0, 128, 255);
    background-color:rgb(242, 255, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    text-indent: 50px;
}

.spc1{
    color: rgb(0, 81, 163);
    background-color:rgb(255, 128, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    letter-spacing: 2px;
}
.spc2{
    color: rgb(0, 81, 163);
    background-color:rgb(255, 128, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    letter-spacing: -2px;
}

.lh1{
    color: rgb(96, 176, 255);
    background-color:rgb(151, 76, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    line-height: 0.5;
}
.lh2{
    color: rgb(96, 176, 255);
    background-color:rgb(151, 76, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    line-height: 1.8;
}

.ws1{
    color: rgb(0, 43, 237);
    background-color:rgb(225, 170, 255);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    word-spacing: 10px;
}
.ws2{
    color: rgb(0, 43, 237);
    background-color:rgb(225, 170, 255);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    word-spacing: -2px;
}

.whs{
    color: rgb(255, 214, 12);
    background-color:rgb(170, 40, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    white-space:nowrap;
}

.sdow1{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    font-size: larger;
    text-shadow: 2px 2px;
}
.sdow2{
    color: rgb(255, 113, 12);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    font-size: larger;
    text-shadow: 5px 5px rgb(188, 198, 255);
}
.sdow3{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    font-size: larger;
    text-shadow: 3px 3px 5px rgb(176, 0, 0)
}
.sdow4{
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    font-size: larger;
    text-shadow: 2px 2px 4px #000000;
}
.sdow5{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    font-size: larger;
    text-shadow: 0px 0px 5px #5da1ff;
}
.sdow6{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    font-size: larger;
    text-shadow: 0px 0px 3px #FF0000, 0px 0px 5px #0000FF;
}
.sdow7{
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    font-size: larger;
    text-shadow: 1px 1px 5px #000000, 0px 0px 25px #b700ff, 3px 3px 5px #00058f;
}